@charset "utf-8";


//set colors
$frostbite: #D63CB1;
$khakiWeb: #CAB69A;
$camel: #B58E49;
$black: #000000;
$white: #FFFFFF;
$mossGreen: #929362;



//update global vars
$primary: $frostbite;
$link: $khakiWeb;
$info: $mossGreen;

//import bulma classes
@import "../mybulma/node_modules/bulma/bulma.sass";

//import custom classes
